@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Oxanium", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.custom-transition {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.custom-transition2 {
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@keyframes dotsanimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot {
  animation: dotsanimate 0.8s infinite;
}

.dot:nth-child(1){
  animation-delay: 0.1s;
}
.dot:nth-child(2){
  animation-delay: 0.2s;
}
.dot:nth-child(3){
  animation-delay: 0.3s;
}

@keyframes brandLogoAnimation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.brandLogo {
  opacity: 0;
}

.brandLogoAppear {
  animation: brandLogoAnimation 200ms ease-in-out forwards;   
}

.brandLogoAppear:nth-child(2){
  animation-delay: 100ms;
}



@keyframes appearAnimation1 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearAnimation2 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




.dissapear1 {
  opacity: 0;
}

.appear1 {
  animation: appearAnimation1 1s ease-in-out forwards;   
}

.dissapear2 {
  opacity: 0;
}

.appear2 {
  animation: appearAnimation2 0.4s ease-in-out forwards;
}


.appear2:nth-child(2){
  animation-delay: 10ms;
}
.appear2:nth-child(3){
  animation-delay: 20ms;
}
.appear2:nth-child(4){
  animation-delay: 30ms;
}
.appear2:nth-child(5){
  animation-delay: 40ms;
}
.appear2:nth-child(6){
  animation-delay: 50ms;
}
.appear2:nth-child(7){
  animation-delay: 60ms;
}
.appear2:nth-child(8){
  animation-delay: 70ms;
}


@keyframes heroAnimation1 {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes heroAnimation2 {
  0% {
    opacity: 0;
    transform: translate(0,100%);
  }
  100% {
    opacity: 0.5;
    transform: translate(0,50%);
  }
}

@keyframes heroAnimation3 {
  0% {
    opacity: 0;
    transform: translate(0,-100%);
  }
  100% {
    opacity: 0.5;
    transform: translate(0,-50%);
  }
}

@keyframes heroAnimation4 {
  0% {
    opacity: 0;
    transform: translate(0, 70px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.hero_no {
  opacity: 0;
}
.hero_no2 {
  opacity: 0;
  color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.hero_no3 {
  opacity: 0;
  color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.hero_no4 {
  opacity: 0;
}

.hero {
  animation: heroAnimation1 0.5s ease-in-out forwards;
  animation-delay: 0s;   
}
.hero2 {
  animation: heroAnimation2 0.5s ease-in-out forwards; 
  animation-delay: 0.2s;  
}
.hero3 {
  animation: heroAnimation3 0.5s ease-in-out forwards; 
  animation-delay: 0.2s;  
}

.hero4 {
  animation: heroAnimation4 0.4s ease-in-out forwards; 
}



.hero4:nth-child(1) {
  animation-delay: 0.2s;
}
.hero4:nth-child(2) {
  animation-delay: 0.3s;
}
.hero4:nth-child(3) {
  animation-delay: 0.4s;
}